.Button {
  font-size: 4vh;
  padding: 3vh;
}

.Button--blue {
  background-color: #008;
  color: #fff;
}

.Button--shadow {
  box-shadow: 0 0 0.1em 0.1em #000a;
}

.Button--center {
  text-align: center;
}
