.Header {
  text-align: center;
  font-size: 5vh;
  height: 11vh;
  line-height: 11vh;
}

.Header--blue {
  background-color: #008;
  color: #fff;
}

.Header--white {
  background-color: #fff;
  color: #008;
}
