.HomeButton {
  position: absolute;
  top: 1.5vh;
  right: 2vw;
  width: 8vh;
  height: 8vh;
  font-size: 5vh;
  border-radius: 1vh;
  outline: none;
  user-select: none;
  padding: 0;
}

.HomeButton--blue {
  border: 1px solid white;
  background-color: #008;
  color: white;
}

.HomeButton--white {
  border: 1px solid #008;
  background-color: white;
  color: #008;
}
