.ReadingDrill__Button {
  background-color: #008;
  color: #fff;
  font-size: 4vh;
  padding: 3vh;
  box-shadow: 0 0 0.1em 0.1em #000a;
}

.ReadingDrill__CardFrontContainer {
  color: #008;
  text-align: center;
  font-size: 10em;
  height: 88vh;
  line-height: 88vh;
}

.ReadingDrill__CardFront {
  line-height: normal;
  display: inline-block;
}

.ReadingDrill__CardBackContainer {
  color: #008;
  text-align: center;
  font-size: 5vh;
  height: 88vh;
  line-height: 88vh;
}

.ReadingDrill__CardBack {
  line-height: normal;
  display: inline-block;
}

.ReadingDrill__Overlay--correct {
  background-color: #0a0a;
  top: 11.5vh;
  height: 88vh;
  position: absolute;
  z-index: 1;
}

.ReadingDrill__Overlay--incorrect {
  background-color: #a00a;
  top: 11.5vh;
  height: 88vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
}
