.ReadingDrill__Button {
  background-color: #008;
  color: #fff;
  font-size: 4vh;
  padding: 3vh;
  box-shadow: 0 0 0.1em 0.1em #000a;
}

.ReadingDrill__CardFrontContainer {
  color: #008;
  text-align: center;
  height: 88vh;
  line-height: 88vh;
}

.ReadingDrill__CardFront {
  font-size: 10em;
  line-height: normal;
  display: inline-block;
}

.ReadingDrill__CardFront--small {
  font-size: 6em;
}

.ReadingDrill__CardBackContainer {
  color: #008;
  text-align: center;
  font-size: 5vh;
  height: 88vh;
  line-height: 88vh;
}

.ReadingDrill__CardBack {
  line-height: normal;
  display: inline-block;
}
