.ReadingDrill__CharacterContainer {
  color: #008;
  text-align: center;
  height: 62vh;
  line-height: 62vh;
}

.ReadingDrill__Character {
  font-size: 22vh;
  line-height: normal;
  display: inline-block;
}

.ReadingDrill__Character--small {
  font-size: 16vh;
}

.ReadingDrill__PinyinContainer {
  text-align: center;
  height: 27vh;
  line-height: 27vh;
  background-color: #ddd;
}

.ReadingDrill__Pinyin {
  display: inline-block;
  font-size: 5vh;
  color: #008;
  line-height: normal;
}
