.WritingDrill__Romaji {
  text-align: center;
  font-size: 5vh;
  height: 27vh;
  line-height: 27vh;
  background-color: #ddd;
  color: #008;
}

.WritingDrill__CharacterContainer {
  text-align: center;
  height: 27vh;
  line-height: 32vh;
  background-color: #ddd;
  color: #008;
}

.WritingDrill__StrokeOrderImage {
  height: 27vh;
}
